* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    background-color: #fff;
    height: 6.5rem;
    justify-content: space-between;
    border-radius: 9px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
}

#logo-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    height: 5.2rem;
    margin-left: 6rem;
}

#menu-header {
    display: flex;
    margin-right: 6rem;
}

.menu-link {
    text-decoration: none;
    color: #4e0586;
    padding: 1rem;
    min-width: 6rem;
    text-align: center;
    padding-top: 3rem; 
    font-weight: 600;
    font-family: sans-serif;
}

.menu-link:hover {
    background-color: #f0f0f0b6;
}

@media screen and (max-width: 455px) {
    #logo {
        margin-left: 8%
    }
}

@media screen and (max-width: 375px) {
    #logo {
        height: 3.5rem;
    }
}

@media screen and (max-width: 320px) {
    #logo {
        height: 3rem;
    }
    header {
        gap: 5%
    }
    .menu-link {
        min-width: 0.3rem;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
}
