body{
    background-color: #faf9f9;
}

main {
    display: flex;
}

.projects {
    width: 95.8%;
    padding-left: 5%;
    padding-right: 5%;
    /* background-color: green; */
}

#logo-linkedin-github {
    display: flex;
    flex-direction: column;
    width: 4.2%;
    align-items: center;
    gap: 2.2rem;
    padding-top: 5.3rem;
    padding-right: 1.8%;
}

#linkedin, #github {
    width: 105%;
    border-radius: 10px
}

#linkedin:hover {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

#github:hover {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
    border-radius: 25px;
}

.academic-projects-title {
    color: #4e0586;
    padding-bottom: 3%;
    padding-top: 4%;
    font-family: Arial;
}

.professional-projects-title {
    color: #4e0586;
    padding-bottom: 2.5%;
    padding-top: 0.5%;
    font-family: Arial;
}

.project-left, .project-right {
    display: flex;
    gap: 3%;
    align-items: center;
    padding-bottom: 3%;
    font-family: Arial;
    text-align: justify;
    font-size: 1.05rem;
}

.project {
    width: 50%;
}

#project-title {
    padding-bottom: 2%;
}

.relevant-text  {
    color: #4e0586
}

.code-link-left, .code-link-right{
    background-color: #6807b2;
    color: white;
    padding: 1% 2%;
    display: inline-block;
    text-decoration: none;
    border-radius: 8px;
    margin-top: 2%;
    font-weight: 500;
}

.code-link-right {
    margin-left: 85%;
}

.code-link:hover {
    background-color: #7f08db;
}

.personal-projects-title {
    color: #4e0586;
    padding-bottom: 1.5%;
    padding-top: 2%;
    font-family: sans-serif;
}

@media screen and (max-width: 1024px) {
    .code-link-right {
        margin-left: 75%;
    }

    #logo-linkedin-github {
        padding-right: 1%;
    }
}

@media screen and (max-width: 768px) {
    .code-link-right {
        margin-left: 60%;
    }

    #logo-linkedin-github {
        padding-right: 0.5%;
    }

    #linkedin, #github {
        width: 115%;
    }
    .academic-projects-title {
        padding-top: 12%;
    }
}

@media screen and (max-width: 425px) {
    .project-left {
        flex-direction: column;
        padding-left: 3%
    }

    .project-right {
        flex-direction: column-reverse;
        padding-left: 3%
    }

    .academic-projects-title{
        padding-top: 15%;
        padding-bottom: 10%;
    }
    .project {
        width: 90%;
        padding-bottom: 8%
    }

    #project-title {
        padding-bottom: 5%;
    }

    .code-link-left, .code-link-right {
        margin-top: 5%;
        margin-bottom: 10%;
        padding: 2% 3%
    }

    .personal-projects-title {
        padding-top: 7%
    }

    #logo-linkedin-github {
        width: 10%;
        padding-right: 3%
    }
}