body{
    background-color: #faf9f9;
}

main {
    display: flex;
}

.projects {
    width: 95.8%;
    padding-left: 5%;
    padding-right: 5%;
    /* background-color: green; */
}

#logo-linkedin-github {
    display: flex;
    flex-direction: column;
    width: 4.2%;
    align-items: center;
    gap: 2.2rem;
    padding-top: 5.3rem;
    padding-right: 1.8%;
}

#linkedin, #github {
    width: 105%;
    border-radius: 10px
}

#linkedin:hover {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

#github:hover {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
    border-radius: 25px;
}

.academic-projects-title {
    color: #4e0586;
    padding-bottom: 3%;
    padding-top: 4%;
    font-family: Arial;
}

.professional-projects-title {
    color: #4e0586;
    padding-bottom: 2.5%;
    padding-top: 0.5%;
    font-family: Arial;
}

.project-left, .project-right {
    display: flex;
    gap: 3%;
    align-items: center;
    padding-bottom: 3%;
    font-family: Arial;
    text-align: justify;
    font-size: 1.05rem;
}

.project {
    width: 50%;
}

#project-title {
    padding-bottom: 2%;
}

.relevant-text  {
    color: #4e0586
}

.code-link-left, .code-link-right{
    background-color: #6807b2;
    color: white;
    padding: 1% 2%;
    display: inline-block;
    text-decoration: none;
    border-radius: 8px;
    margin-top: 2%;
    font-weight: 500;
}

.code-link-right {
    margin-left: 85%;
}

.code-link:hover {
    background-color: #7f08db;
}

.personal-projects-title {
    color: #4e0586;
    padding-bottom: 1.5%;
    padding-top: 2%;
    font-family: sans-serif;
}